.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.caixa1{
    background: linear-gradient(#5a62dc,#2b35c9);
    width: 300px;
    height: 500px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

p{
    color: #fff;
}

h1{
    color: #fff;
}
 .circulo{
    border-radius: 100px;
    background: linear-gradient(#2b35c9,#5a62dc);
    width: 100px;
    height: 100px;
}
.h11{
    text-align: center;
}

.p1{
    text-align: center;

}
 